*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:brown;

    -webkit-font-smothing: antialiased;
    -webkit-overflow-scroling: touch;
    margin-top: 70px;
}

h1, h2, h3, h4,h5, h6{
    font: 300;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

